.root {
    /* define a base and default background */
    -fx-base: rgb(255,255,255);
    -fx-control-inner-background: rgb(220,220,220);
}
.menu-bar {
    /* background goes from 40% of base to full
    base back to 40% of base */
    -fx-background-color:
        linear-gradient(to bottom,
        derive(-fx-base,40%),
        -fx-base,
        derive(-fx-base,40%)
        );
}
.tool-bar:horizontal {
    /* background goes from 40% of base to full
    base back to 40% of base */
    -fx-background-color:
        linear-gradient(to bottom,
        derive(-fx-base,40%),
        -fx-base,
        derive(-fx-base,40%)
        );
}
